.navbar-custom {
    background: #144b37;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
.navbar-logo-img {
    height: 7rem;
    width: auto;
}
.navbar-linkedin {
    margin-right: 20px;
}
.navbar-linkedin-link {
    color: #e1be3c;
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 6px;
}
.navbar-linkedin-link:hover {
    color: #e1be3c;
    text-decoration: underline;
}

